{% extends "base.html" %}

{% block outdated %}
  <div class="md-banner md-banner--warning">
    <div class="md-banner__inner md-grid md-typeset">
      You're not viewing the latest version.
      <a id="latest-link">
        <strong>Click here to go to the latest version.</strong>
      </a>
    </div>
  </div>
  <script>
  	console.log("updating redirect url...")
    (function() {
      var latestLink = document.getElementById('latest-link');
      if (window.location.hostname === 'sojohnnysaid.github.io') {
        latestLink.href = '/portable-k8s/latest/';
      } else {
        latestLink.href = '/latest/';
      }
    })();
  </script>
{% endblock %}

